@page
@model MyFirstWebApp.Views.RemoveModel

<html>
    <head>
        <meta charset="utf-8" />
        <title>BookRemove</title>
    </head>
        <h3><h1>Книга с id:@Model.BookId успешно удалена</h1></h3>
    <body>

    </body>
</html>
